<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>dmn-js modeler example</title>

    <!-- required modeler styles -->
    <link rel="stylesheet" href="https://unpkg.com/dmn-js@13.0.0/dist/assets/diagram-js.css">
    <link rel="stylesheet" href="https://unpkg.com/dmn-js@13.0.0/dist/assets/dmn-js-shared.css">
    <link rel="stylesheet" href="https://unpkg.com/dmn-js@13.0.0/dist/assets/dmn-js-drd.css">
    <link rel="stylesheet" href="https://unpkg.com/dmn-js@13.0.0/dist/assets/dmn-js-decision-table.css">
    <link rel="stylesheet" href="https://unpkg.com/dmn-js@13.0.0/dist/assets/dmn-js-decision-table-controls.css">
    <link rel="stylesheet" href="https://unpkg.com/dmn-js@13.0.0/dist/assets/dmn-js-literal-expression.css">
    <link rel="stylesheet" href="https://unpkg.com/dmn-js@13.0.0/dist/assets/dmn-font/css/dmn.css">

    <!-- vue 2.6.14-->
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>

    <!-- element-ui css -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.15.7/lib/theme-chalk/index.css">
    <!-- element-ui js -->
    <script src="https://unpkg.com/element-ui@2.15.7/lib/index.js"></script>
</head>

<body>
    <div id="app">
        <el-row>
            <el-form ref="form" :model="item" label-width="120px">
                <el-form-item label="请选择属性">
                    <el-select v-model="item.selectedAttributeCodes" clearable filterable style="width: 100%" multiple
                        @change="attributeChange">
                        <el-option v-for="attribute in allAttributes" :key="attribute.code" :label="attribute.name"
                            :value="attribute.code">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="一键设置">
                    <el-row>
                        <el-col :span="6">
                            <el-select v-model="formulaApplyItem.attributeCode" clearable filterable style="width:100%"
                                @change="formulaAttributeChange">
                                <el-option v-for="item in selectedAttributes" :key="item.code" :label="item.name"
                                    :value="item.code">
                                </el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="8">
                            <el-select v-model="formulaApplyItem.formulaId" clearable filterable style="width:100%"
                                @change="formulaChange">
                                <el-option v-for="item in ableFormulas" :key="item.id" :label="item.name"
                                    :value="item.id">
                                </el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="8">
                            <el-input type="text" v-for="(v,index) in formulaApplyItem.inputs"
                                style="width: 60px;margin-left: 6px;" v-model="v.value"
                                :placeholder="v.code"></el-input>
                        </el-col>
                        <el-col :span="2">
                            <el-button type="primary" @click="formulaApplyClick" class="pull-right">应 用</el-button>
                        </el-col>
                    </el-row>
                </el-form-item>
                <el-form-item label="DMN">
                    <div>
                        <el-tabs tab-position="top" v-model="dmnEditorName" @tab-click="dmnEditorTabClick">
                            <el-tab-pane v-for="(v,index) in dmnEditorTabs" :key="index" :name="index.toString()">
                                <span slot="label"> <i :class="v.className"></i>{{v.name}}</span>
                            </el-tab-pane>
                        </el-tabs>
                        <div class="dmn-container" ref="dmn-container"></div>
                    </div>
                </el-form-item>
                <el-form-item label="XML">
                    <el-input type="textarea" readonly v-model="item.dmnXML" rows="25"></el-input>
                </el-form-item>
            </el-form>
        </el-row>
    </div>

    <!-- dmnjs modeler -->
    <script src="https://unpkg.com/dmn-js@13.0.0/dist/dmn-modeler.development.js"></script>

    <!-- dmn xml generate -->
    <script src="./dmn-xml.js"></script>

    <script>
        const dmnModeler = new DmnJS({
            height: 500,
            width: "100%",
            keyboard: {
                bindTo: window
            }
        });

        const CLASS_NAMES = {
            drd: 'dmn-icon-lasso-tool',
            decisionTable: 'dmn-icon-decision-table',
            literalExpression: 'dmn-icon-literal-expression'
        };

        var Main = {
            data() {
                return {
                    // 所有属性列表
                    allAttributes: {
                        "A": { "code": "A", "name": "整数属性A", "type": "integer" },
                        "B": { "code": "B", "name": "整数属性B", "type": "integer" },
                        "C": { "code": "C", "name": "布尔属性C", "type": "boolean" },
                        "D": { "code": "D", "name": "字符属性D", "type": "string" },
                        "E": { "code": "E", "name": "日期属性E", "type": "date" },
                    },
                    item: {
                        // 选中属性code
                        selectedAttributeCodes: [],
                        // 生成的xml
                        dmnXML: '',
                    },
                    dmnEditorTabs: [],
                    dmnEditorName: "0",
                    // 辅助 一键设置公式列表
                    allFormulas: DmnXml.formulas,
                    formulaApplyItem: {
                        attributeCode: '',
                        formulaId: '',
                        inputs: []
                    }
                };
            },
            computed: {
                selectedAttributes: function () {
                    let data = [];
                    let codes = this.item.selectedAttributeCodes;
                    for (let k in codes) {
                        let tmp = this.allAttributes[codes[k]]
                        tmp = JSON.parse(JSON.stringify(tmp));
                        data.push(tmp)
                    }
                    return data;
                },
                formulaMap: function () {
                    let map = {}
                    for (let k in this.allFormulas) {
                        map[this.allFormulas[k].id] = this.allFormulas[k]
                    }
                    return map
                },
                // 可选公式
                ableFormulas: function () {
                    if (this.formulaApplyItem.attributeCode) {
                        let codeType = this.allAttributes[this.formulaApplyItem.attributeCode].type
                        return this.allFormulas.filter(function (item) {
                            return item.allowAttributeCodeTypes.indexOf(codeType) !== -1
                        })
                    }
                    return []
                }
            },
            mounted: function () {
                let _this = this
                dmnModeler.on('views.changed', function (event) {
                    const { views, activeView } = event;

                    // 给每个视图创建一个tab
                    let dmnEditorTabs = []
                    views.forEach(function (v, idx) {
                        v.className = CLASS_NAMES[v.type]
                        if (v === activeView) {
                            _this.dmnEditorName = idx.toString()
                        }
                        dmnEditorTabs.push(v)
                    });
                    _this.dmnEditorTabs = dmnEditorTabs

                    // 每次修改DMN立即更新this.item.dmnXML
                    _this.exportDmnXml();
                });

                this.initDmn()
            },
            methods: {
                initDmn() {
                    dmnModeler.attachTo('.dmn-container')

                    if (!this.item.dmnXML) {
                        this.attributeChange()
                    } else {
                        this.openDmnDiagram(this.item.dmnXML)
                    }

                    this.openDmnView(0)
                },
                attributeChange() {
                    let newXml = DmnXml.getXmlByAttributes(this.item.dmnXML, this.selectedAttributes)
                    this.item.dmnXML = newXml
                    this.openDmnDiagram(newXml)
                },
                dmnEditorTabClick(tab, event) {
                    const viewIdx = parseInt(tab.index)
                    this.openDmnView(viewIdx)
                },
                // Open diagram in our modeler instance.
                async openDmnDiagram(dmnXML) {
                    try {
                        const { warnings } = await dmnModeler.importXML(dmnXML);

                        if (warnings.length) {
                            console.log('import with warnings', warnings);
                        } else {
                            console.log('import successful');
                        }

                        // fetch currently active view
                        const activeView = dmnModeler.getActiveView();

                        // apply initial logic in DRD view
                        if (activeView.type === 'drd') {
                            const activeEditor = dmnModeler.getActiveViewer();

                            // access active editor components
                            const canvas = activeEditor.get('canvas');

                            // zoom to fit full viewport
                            canvas.zoom('fit-viewport');
                        }
                    } catch (err) {
                        console.error('could not import DMN 1.3 diagram', err);
                    }
                },
                // 导出整个决策表的xml，保存到data
                async exportDmnXml() {
                    try {
                        const { xml } = await dmnModeler.saveXML({ format: true })
                        //console.log('exportDmnXml', xml)
                        this.item.dmnXML = xml
                    } catch (err) {
                        console.error('could not save DMN 1.3 diagram', err);
                    }
                },
                // 打开一个决策表视图，即decision节点
                async openDmnView(viewIdx) {
                    const view = dmnModeler.getViews()[viewIdx];
                    try {
                        await dmnModeler.open(view);
                    } catch (err) {
                        console.error('error opening tab', err);
                    }
                },
                // 选择应用公式的属性改变
                formulaAttributeChange() {
                    this.formulaApplyItem.formulaId = ''
                    this.formulaApplyItem.inputs = []
                },
                // 选择的公式改变
                formulaChange() {
                    let formula = this.formulaMap[this.formulaApplyItem.formulaId]
                    this.formulaApplyItem.inputs = formula.inputs
                },
                // 一键应用
                formulaApplyClick() {
                    if (!this.formulaApplyItem.attributeCode || !this.formulaApplyItem.formulaId) {
                        alert("请选择属性或者公式")
                        return
                    }
                    for (let k in this.formulaApplyItem.inputs) {
                        if (this.formulaApplyItem.inputs[k].value === null || this.formulaApplyItem.inputs[k].value === '') {
                            alert("请填写完整")
                            return
                        }
                    }

                    let newXml = DmnXml.getXmlByFormula(
                        this.item.dmnXML,
                        this.formulaApplyItem.attributeCode,
                        this.formulaMap[this.formulaApplyItem.formulaId],
                        this.formulaApplyItem.inputs
                    )
                    this.item.dmnXML = newXml
                    this.openDmnDiagram(newXml)
                }
            }
        };

        var Ctor = Vue.extend(Main);
        new Ctor().$mount("#app");
    </script>
</body>

</html>